<div class="qaContainer">
    <div class="pageTitleContainer">
        <div class="chapterName">
            {{workbookName}} QAs
        </div>
    </div>
    <div class="qaPaletteContainer">
        <div *ngFor="let qa of qas">
            <div class="qaExpansionPanelContainer" [@.disabled]="true">
                <mat-expansion-panel [expanded]="false">
                    <mat-expansion-panel-header>
                        <div class="questionContainer">
                            <div class="question">
                                <span style="color: #FFD700;">#{{qa.qaNumber}} </span>{{qa.question}}
                            </div>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="answerContainer">
                        <div class="answerLabel">
                            Answer:
                        </div>
                        <div class="answer" [innerHTML]="qa.answer">
                        </div>
                    </div>
                    <div *ngIf="qa.description" class="descriptionContainer">
                        <div class="descriptionLabel">
                            Description:
                        </div>
                        <div class="description" [innerHTML]="qa.description">
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>