* {
    font-family: 'Bookman Old Style', Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.5px;
    font-variant-numeric: lining-nums;
}

.qaContainer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.pageTitleContainer {
    align-content: center;
    color: #FFD700;
    margin-bottom: 5px; 
    font-size: 18px;
    text-align: center;
    background-color: #383838;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
}

.qaExpansionPanelContainer {
    margin-bottom: 5px;
}

.mat-expansion-panel {
    background-color: #383838;
    color: #F5E8D8;
}

.mat-expansion-panel-header {
    height: fit-content !important; 
    padding: 5px !important;
    font-family: 'Bookman Old Style', Georgia, 'Times New Roman', Times, serif !important;
    font-size: 18px !important;
    line-height: 27px !important;
    letter-spacing: 0.5px !important;
    font-variant-numeric: lining-nums !important; 
}

.mat-expansion-panel-body {
    padding: 5px !important;
    font-family: 'Bookman Old Style', Georgia, 'Times New Roman', Times, serif !important;
    font-size: 18px !important;
    line-height: 27px !important;
    letter-spacing: 0.5px !important;
    font-variant-numeric: lining-nums !important;
}

.mat-expansion-panel-header :active{
    background-color: transparent;
}

.questionLabel {
    color:#FFD700;
}

.answerLabel {
    color:#FFD700;
}

.descriptionLabel {
    color:#FFD700;
}