* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 35px;
    letter-spacing: 1px;
    font-variant-numeric: lining-nums;
}

.qaContainer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.pageTitleContainer {
    align-content: center;
    color: #FFD700;
    margin-bottom: 5px;
    font-size: large;
    text-align: center;
    background-color: #424242;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
}

.qaExpansionPanelContainer {
    margin-bottom: 5px;
}

.mat-expansion-panel-header {
    height: fit-content !important; 
    padding: 5px !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: large !important;
    line-height: 35px !important;
    letter-spacing: 1px !important;
    font-variant-numeric: lining-nums !important; 
}

.mat-expansion-panel-body {
    padding: 5px !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: large !important;
    line-height: 35px !important;
    letter-spacing: 1px !important;
    font-variant-numeric: lining-nums !important;
}

.mat-expansion-panel-header :active{
    background-color: transparent;
}

.questionLabel {
    color:#FFD700;
}

.answerLabel {
    color:#FFD700;
}

.descriptionLabel {
    color:#FFD700;
}