.mat-menu-item {
    font-family: 'Bookman Old Style', Georgia, 'Times New Roman', Times, serif;
    font-size: 18px !important;
    line-height: 27px;
    letter-spacing: 0.5px;
    padding-left: 5px;
    color: #FFD700;
  }