<mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="economicsQA">Economics QA</button>
    <button mat-menu-item [matMenuTriggerFor]="geographyQA">Geography QA</button>
    <button mat-menu-item [matMenuTriggerFor]="historyQA">History QA</button>
    <button mat-menu-item [matMenuTriggerFor]="politicalScienceQA">Political Science QA</button>
    <button mat-menu-item [matMenuTriggerFor]="factsQA">Facts QA</button>
</mat-menu>

<mat-menu #economicsQA="matMenu">
    <button mat-menu-item></button>
</mat-menu>

<mat-menu #geographyQA="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="indianGeographyQA">Indian Geography QA</button>
    <button mat-menu-item [matMenuTriggerFor]="physicalGeographyQA">Physical Geography QA</button>
</mat-menu>

<mat-menu #indianGeographyQA="matMenu">
    <button mat-menu-item routerLink="GeographyQA/IndianGeographyQA/LocationAndSizeQA">Location And Size QA</button>
    <button mat-menu-item routerLink="GeographyQA/IndianGeographyQA/DrainageSystemQA">Drainage System QA</button>
</mat-menu>

<mat-menu #physicalGeographyQA="matMenu">
    <button mat-menu-item routerLink="GeographyQA/PhysicalGeographyQA/EarthOriginAndEvolutionQA">Earth - Origin And Evolution QA</button>
    <button mat-menu-item routerLink="GeographyQA/PhysicalGeographyQA/EarthInteriorQA">Earth - Interior QA</button>
</mat-menu>

<mat-menu #historyQA="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="ancientIndianHistoryQA">Ancient Indian History QA</button>
    <button mat-menu-item [matMenuTriggerFor]="medievalIndianHistoryQA">Medieval Indian History QA</button>
    <button mat-menu-item [matMenuTriggerFor]="modernIndianHistoryQA">Modern Indian History QA</button>
</mat-menu>

<mat-menu #ancientIndianHistoryQA="matMenu">
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/StoneAgeQA">Stone Age QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/ChalcolithicAgeQA">Chalcolithic Age QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/BronzeAgeAndHarappanCivilizationQA">Bronze Age and Harappan Civilization QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/VedicAgeQA">Vedic Age QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/JainismAndBuddhismAgeQA">Jainism And Buddhism Age QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/AgeOfMahajanapadasQA">Age Of Mahajanapadas QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/MauryaAgeQA">Maurya Age QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/CentralAsianInfluenceQA">Central Asian Influence QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/SatavahanasQA">Age of the Satavahanas QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/DawnOfHistoryInSouthIndiaQA">Dawn Of History In South India QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/PostMauryaCraftsTradeAndTownsQA">Post-Maurya Age Crafts, Trade, and Towns QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/GuptaAgeQA">Gupta Age QA</button>
    <button mat-menu-item routerLink="HistoryQA/AncientIndianHistoryQA/ScienceAndCivilizationLegacyQA">Legacy in Science And Civilization QA</button>
</mat-menu>

<mat-menu #medievalIndianHistoryQA="matMenu">
    <button mat-menu-item></button>
</mat-menu>

<mat-menu #modernIndianHistoryQA="matMenu">
    <button mat-menu-item routerLink="HistoryQA/ModernIndianHistoryQA/EighteenthCenturyIndiaQA">Eighteenth Century India QA</button>
    <button mat-menu-item routerLink="HistoryQA/ModernIndianHistoryQA/EuropeanPenetrationAndConquestQA">
        European Penetration And Conquest QA</button>
</mat-menu>

<mat-menu #politicalScienceQA="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="indianPolityQA">Indian Polity QA</button>
    <button mat-menu-item [matMenuTriggerFor]="internationalInstitutionsAndAgenciesQA">International Institutions And Agencies QA</button>
    <button mat-menu-item [matMenuTriggerFor]="internationalAgreementsAndGroupingsQA">International Agreements And Groupings QA</button>
    <button mat-menu-item [matMenuTriggerFor]="otherCountriesRulesAndDevelopmentsQA">Other Countries - Rules And Developments QA</button>
</mat-menu>
<mat-menu #indianPolityQA="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="indianConstitutionQA">Indian Constitution QA</button>
    <button mat-menu-item [matMenuTriggerFor]="unionGovernmentQA">Union Government QA</button>
    <button mat-menu-item [matMenuTriggerFor]="stateGovernmentQA">State Government QA</button>
    <button mat-menu-item [matMenuTriggerFor]="localGovernmentQA">Local Government QA</button>
    <button mat-menu-item [matMenuTriggerFor]="unionTerritoriesQA">Union Territories QA</button>
    <button mat-menu-item [matMenuTriggerFor]="constitutionalBodiesQA">Constitutional Bodies QA</button>
    <button mat-menu-item [matMenuTriggerFor]="statutoryBodiesQA">Statutory Bodies QA</button>
    <button mat-menu-item [matMenuTriggerFor]="nonConstitutionalAndNonStatutoryBodiesQA">Non-Constitutional And Non-Statutory Bodies QA</button>
    <button mat-menu-item [matMenuTriggerFor]="regulatoryAuthoritiesQA">Regulatory Authorities QA</button>
    <button mat-menu-item [matMenuTriggerFor]="policiesAndStrategiesQA">Policies And Strategies QA</button>
    <button mat-menu-item [matMenuTriggerFor]="notForProfitCompaniesAndTrustsQA">Not For Profit Companies And Trusts QA</button>
</mat-menu>

<mat-menu #indianConstitutionQA="matMenu">
    <button mat-menu-item routerLink="PoliticalScienceQA/IndianPolityQA/IndianConstitutionQA/IntroductionAndFeaturesQA">Introduction And Features QA</button>
    <button mat-menu-item routerLink="PoliticalScienceQA/IndianPolityQA/IndianConstitutionQA/ConstitutionalHistoryQA">Constitutional History QA</button>
    <button mat-menu-item routerLink="PoliticalScienceQA/IndianPolityQA/IndianConstitutionQA/FundamentalRightsQA">Fundamental Rights QA</button>
    <button mat-menu-item routerLink="PoliticalScienceQA/IndianPolityQA/IndianConstitutionQA/DPSPQA">DPSP QA</button>
</mat-menu>

<mat-menu #unionGovernmentQA="matMenu">
    <button mat-menu-item routerLink=""></button>
</mat-menu>

<mat-menu #stateGovernmentQA="matMenu">
    <button mat-menu-item routerLink=""></button>
</mat-menu>

<mat-menu #localGovernmentQA="matMenu">
    <button mat-menu-item routerLink=""></button>
</mat-menu>

<mat-menu #unionTerritoriesQA="matMenu">
    <button mat-menu-item routerLink=""></button>
</mat-menu>

<mat-menu #constitutionalBodiesQA="matMenu">
    <button mat-menu-item routerLink=""></button>
</mat-menu>

<mat-menu #statutoryBodiesQA="matMenu">
    <button mat-menu-item routerLink=""></button>
</mat-menu>

<mat-menu #nonConstitutionalAndNonStatutoryBodiesQA="matMenu">
    <button mat-menu-item routerLink=""></button>
</mat-menu>

<mat-menu #regulatoryAuthoritiesQA="matMenu">
    <button mat-menu-item routerLink="PoliticalScienceQA/IndianPolityQA/RegulatoryAuthoritiesQA/FSDCQA">FSDC QA</button>
</mat-menu>

<mat-menu #policiesAndStrategiesQA="matMenu">
    <button mat-menu-item routerLink="PoliticalScienceQA/IndianPolityQA/PoliciesAndStrategiesQA/NSFEQA">NSFE QA</button>
</mat-menu>

<mat-menu #notForProfitCompaniesAndTrustsQA="matMenu">
    <button mat-menu-item routerLink="PoliticalScienceQA/IndianPolityQA/NotForProfitCompaniesAndTrustsQA/NCFEQA">NCFE QA</button>
</mat-menu>

<mat-menu #internationalInstitutionsAndAgenciesQA="matMenu">
    <button mat-menu-item routerLink="PoliticalScienceQA/InternationalInstitutionsAndAgenciesQA/FATFQA">FATF QA</button>
    <button mat-menu-item routerLink="PoliticalScienceQA/InternationalInstitutionsAndAgenciesQA/ILOQA">ILO QA</button>
    <button mat-menu-item routerLink="PoliticalScienceQA/InternationalInstitutionsAndAgenciesQA/EMGFQA">EMGF QA</button>
</mat-menu>

<mat-menu #internationalAgreementsAndGroupingsQA="matMenu">
    <button mat-menu-item routerLink=""></button>
</mat-menu>

<mat-menu #otherCountriesRulesAndDevelopmentsQA="matMenu">
    <button mat-menu-item routerLink="PoliticalScienceQA/OtherCountriesRulesAndDevelopmentsQA/UnitedStatesOfAmericaQA">United States Of America QA</button>
</mat-menu>

<mat-menu #factsQA="matMenu">
    <button mat-menu-item routerLink="FactsQA/BooksAndAuthorsQA">Books And Authors QA</button>
    <button mat-menu-item routerLink="FactsQA/AllInOneQA">All In One QA</button>
</mat-menu>