* {
    box-sizing: border-box;
}

.outerContainer {
    display: flex;
    flex-flow:row wrap;
    flex-direction: column;
}

.pageTitleContainer {
    align-self: center;
    align-content: center;
    color: #FFD700;
    margin-bottom: 5px;
    font-size: larger;
    text-align: center;
    background-color: #424242;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
}

.qaWBContainer {
    flex: auto;
    background-color: #424242;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}


.qaWbListContainer :hover {
    cursor: pointer;
    margin-left: 5px;
}

.qaWBContainer a {
    text-decoration: none;
    color: white;
}

.qaWbNumber {
    color: #FFD700;
}