.mat-menu-item {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px !important;
    line-height: 24px;
    letter-spacing: 1px;
    padding-left: 5px;
    color: #FFD700;
  }