.mat-list-item {
    /* flex: auto; */
    /* width: auto; */
    /* height: 35px !important; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    letter-spacing: 1px;
    background-color: #424242;
    border-radius: 5px;
    /* width: auto !important; */; 
}

mat-nav-list {
    margin-left: 5px;
    margin-right: 5px;
}

.mat-list-base .mat-list-item .mat-list-item-content {
    padding: 5px 5px !important;
    font-size: large;
    letter-spacing: 1px;
}

.mat-list-item:hover {
    background-color:black !important;
}

.mat-menu-item:hover {
    background-color: black !important;
}

.mat-menu-item {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    letter-spacing: 1px;
    padding-left: 5px !important;
}
