.mat-list-item {
    padding: 8px 0;
    display: flex;
    width: auto;
    height: 35px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    letter-spacing: 1px;
}

.mat-list-item:hover {
    background-color:black;
}