<mat-nav-list>
  <a mat-list-item class="menu-list-item" routerLink="TodaysNewsRelatedQA"
    (click)="leftNavMenuService.closeSideNav()">Today's News Related QA</a>
</mat-nav-list>
<mat-nav-list>
  <a mat-list-item class="menu-list-item" [matMenuTriggerFor]="generalAwarenessQA">General Awareness QA</a>

</mat-nav-list>

<mat-menu #generalAwarenessQA="matMenu" xPosition="after" yPosition="below">
  <button mat-menu-item [matMenuTriggerFor]="historyQA">History QA</button>
  <button mat-menu-item [matMenuTriggerFor]="geographyQA">Geography QA</button>
  <button mat-menu-item [matMenuTriggerFor]="economyQA">Economy QA</button>
  <button mat-menu-item [matMenuTriggerFor]="polityQA">Polity QA</button>
</mat-menu>

<mat-menu #historyQA="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="ancientIndianHistoryQA">Ancient Indian History QA</button>
  <button mat-menu-item [matMenuTriggerFor]="medievalIndianHistoryQA">Medieval Indian History QA</button>
  <button mat-menu-item [matMenuTriggerFor]="modernIndianHistoryQA">Modern Indian History QA</button>
</mat-menu>

<mat-menu #geographyQA="matMenu">
  <button mat-menu-item></button>
</mat-menu>

<mat-menu #economyQA="matMenu">
  <button mat-menu-item></button>
</mat-menu>

<mat-menu #polityQA="matMenu">
  <button mat-menu-item></button>
</mat-menu>

<mat-menu #ancientIndianHistoryQA="matMenu">
  <button mat-menu-item routerLink="GeneralAwarenessQA/HistoryQA/AncientIndianHistoryQA/StoneAgeQA"
    (click)="leftNavMenuService.closeSideNav()">Stone Age QA</button>
  <button mat-menu-item routerLink="GeneralAwarenessQA/HistoryQA/AncientIndianHistoryQA/ChalcolithicFarmingCulturesQA"
    (click)="leftNavMenuService.closeSideNav()">Chalcolithic Farming
    Cultures QA</button>
  <button mat-menu-item
    routerLink="GeneralAwarenessQA/HistoryQA/AncientIndianHistoryQA/HarappanCultureBronzeAgeCivilizationQA"
    (click)="leftNavMenuService.closeSideNav()">Harappan
    Culture: Bronze Age Civilization QA</button>
</mat-menu>
<mat-menu #medievalIndianHistoryQA="matMenu">
  <button mat-menu-item></button>
</mat-menu>
<mat-menu #modernIndianHistoryQA="matMenu">
  <button mat-menu-item></button>
</mat-menu>