<div *ngIf="depth==0">
  <mat-nav-list *ngFor="let leftSideNavElement of leftSideNavElements">
    <a mat-list-item [ngStyle]="{'margin-left': (5 + depth * 10) + 'px'}" (click)="onItemSelected(leftSideNavElement)"
      class="menu-list-item">
      {{leftSideNavElement.displayName}}
      <span fxFlex *ngIf="leftSideNavElement.children && leftSideNavElement.children.length">
        <span fxFlex></span>
        <mat-icon [@indicatorRotate]="leftSideNavElement.expand ? 'expanded': 'collapsed'">
          expand_more
        </mat-icon>
      </span>
    </a>
    <div *ngIf="leftSideNavElement.expand">
      <app-left-side-nav *ngFor="let child of leftSideNavElement.children" [leftSideNavElement]="child"
        [depth]="depth+1">
      </app-left-side-nav>
    </div>
  </mat-nav-list>
</div>
<div *ngIf="depth>0">
  <mat-nav-list>
    <a mat-list-item [ngStyle]="{'margin-left': (5 + depth * 10) + 'px'}" (click)="onItemSelected(leftSideNavElement)"
      class="menu-list-item">
      {{leftSideNavElement.displayName}}
      <span fxFlex *ngIf="leftSideNavElement.children && leftSideNavElement.children.length">
        <span fxFlex></span>
        <mat-icon class="rotateIcon" [@indicatorRotate]="leftSideNavElement.expand ? 'expanded': 'collapsed'">
          expand_more
        </mat-icon>
      </span>
    </a>
    <div *ngIf="leftSideNavElement.expand">
      <app-left-side-nav *ngFor="let child of leftSideNavElement.children" [leftSideNavElement]="child"
        [depth]="depth+1">
      </app-left-side-nav>
    </div>
  </mat-nav-list>
</div>