<div class="aboutTitle">
    About QAWorkbook
</div>
<div class="aboutDescription">
    <p>
        QAWorkbook is an initiative to help students and candidates learn and revise facts easily and totally free of
        cost.
    </p>
    <p>
        QAWorkbook delivers Questions and Answers on chapter by chapter basis, which helps in systematic learning and revision.
    </p>
    <p>
       Now students and candidates, by using QAWorkbook, can use even their spare time to learn new facts or consolidate their learnings.
    </p>
    <p>
        Happy learning!
    </p>
</div>