* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.5px;
}

.aboutTitle {
    color: #FFD700;
    text-align: center;
    background-color: #383838;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.aboutDescription {
    padding: 5px;
    border-radius: 5px;
    color: #F5F5F5;
    background-color: #383838;
}