<mat-toolbar>
  <mat-toolbar-row class="top-toolbar-row">


    <div class="mainNavMenuButtonContainer">
      <button class="sideNavButton" mat-icon-button (click)="toggleLeftNavMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <!-- <div class="logoNameContainer"> -->
      <a>
        <div>
          <img class="toolbarQAWorkbookLogo" src="\assets\QAWorkbook-Logo.png" width="60" height="60">
        </div>
      </a>
      <div class="toolbarWbTitle">Workbook</div>
    <!-- </div> -->

    <div class="syllabiMenuButtonContainer">      
      <a class="topToolbarMenuItem" [matMenuTriggerFor]="appMenu"><mat-icon>whatshot</mat-icon></a>
    </div>

    <mat-menu #appMenu="matMenu" xPosition="after">
      <button mat-menu-item [matMenuTriggerFor]="upscSubMenu">UPSC Syllabus</button>
      <button mat-menu-item [matMenuTriggerFor]="statePscSubMenu">State PSC Syllabus</button>
    </mat-menu>
    <mat-menu #upscSubMenu="matMenu">
      <button mat-menu-item>Civil Services</button>
    </mat-menu>
    <mat-menu #statePscSubMenu="matMenu">
      <button mat-menu-item>Kerala PSC</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>