<mat-toolbar>
  <mat-toolbar-row class="top-toolbar-row">
    <button class="sideNavButton" mat-icon-button (click)="toggleLeftNavMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <a>
      <div>
        <img class="toolbarQAWorkbookLogo" src="\assets\QAWorkbook-Logo.png" width="60" height="60">
      </div>
    </a>
    <div class="toolbarWbTitle">Workbook</div>
    <a class="topToolbarMenuItem" [matMenuTriggerFor]="appMenu">Syllabus</a>
    <mat-menu #appMenu="matMenu">      
        <button mat-menu-item [matMenuTriggerFor]="upscSubMenu">UPSC</button>
        <button mat-menu-item [matMenuTriggerFor]="statePscSubMenu">State PSC</button>      
    </mat-menu>
    <mat-menu #upscSubMenu="matMenu">
      <button mat-menu-item>Civil Services</button>
    </mat-menu>
    <mat-menu #statePscSubMenu="matMenu">
      <button mat-menu-item>Kerala PSC</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>