<mat-toolbar>
  <mat-toolbar-row class="top-toolbar-row">

    <div class="mainNavMenuButtonContainer">
      <button mat-icon-button class="sideNavButton" [matMenuTriggerFor]="x.menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a routerLink=''>
      <img class="toolbarQAWorkbookLogo" src="assets\QAWorkbook-Logo.png" width="60" height="60">
    </a>
    <a routerLink='' class="toolbarWbTitle">Workbook</a>
    <div class="syllabiMenuButtonContainer">
      <button mat-icon-button class="whatshotNavButton" [matMenuTriggerFor]="y.menu">
        <mat-icon>whatshot</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<app-main-nav-menu #x="mainNavMenu"></app-main-nav-menu>

<app-whatshot-nav-menu #y="whatshotNavMenu"></app-whatshot-nav-menu>