.mat-toolbar {
    min-height: 56px !important; 
    height: 56px !important;
  }
  
  .mat-toolbar-row {
    min-height: 56px !important; 
    height: 56px !important;
  }

.top-toolbar-row {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.topToolbarMenuItem {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: lighter;
    font-variant-caps: petite-caps;
    margin-left: 20px;
}

.topToolbarMenuItem:hover {
    cursor: pointer;
}

.mat-menu-item:hover {
    background-color:black;
}

.sideNavButton {
    background-color: rgb(34, 31, 31);
    color: white;
    border: none;
    outline: none;
    margin-left: -10px;
    padding-right: 9px;
}

.sideNavButton:hover {
    cursor: pointer;
}

.toolbarQAWorkbookLogo {
    vertical-align: middle;
}

.toolbarQAWorkbookLogo:hover {
    cursor: pointer;
}

.toolbarWbTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant-caps: petite-caps;
    font-size: x-large;
    color: rgb(255, 212, 71);
}

.toolbarWbTitle:hover {
    cursor: pointer;
}