.mat-toolbar {
    min-height: 56px !important; 
    height: 56px !important;
  }
  
  .mat-toolbar-row {
    min-height: 56px !important; 
    height: 56px !important;
    padding: 0 !important;
  }

.top-toolbar-row {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.topToolbarMenuItem:hover {
    cursor: pointer;
}

.mainNavMenuButtonContainer {
    flex: 1 1 auto;
    align-self: center;
    text-align: center  ;
}

.syllabiMenuButtonContainer {
    flex: 1 1 auto;
    align-self: center;
    text-align: center;
}

.sideNavButton,
.whatshotNavButton {
    background-color:transparent;
    color: white;
    border: none;
    outline: none;
    flex: 1 1 auto;
    text-align: center;
    padding: 0;
}

.sideNavButton:hover,
.whatshotNavButton:hover {
    cursor: pointer;
}

.toolbarQAWorkbookLogo {
    vertical-align: middle;
}

.toolbarQAWorkbookLogo:hover {
    cursor: pointer;
}

.toolbarWbTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant-caps: petite-caps;
    font-size: 24px;
    color: #FFD700;
    text-decoration: none;    
}

.toolbarWbTitle:hover {
    cursor: pointer;
}

.mat-icon {
    vertical-align: middle;
}

.sideNavButton,
.whatshotNavButton {
    vertical-align: middle;
}