* {
   box-sizing: border-box;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
   line-height: 35px;
   letter-spacing: 1.25px;
}

.total-container {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   }

   .main-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    background-color: #282828;
    color: #DCDCDC;
    }

   .desktopSidenavContentContainer {
    display:flex;
    flex-flow:row wrap;
    flex-direction: row;
   }

   .mobileSidenavContentContainer
   {
    display:flex;
    flex-flow:row wrap;
    flex-direction: row;
   }

   .desktopSidenavContentContainer app-main {
     padding: 5px;
   }

   .desktopSidenavContentContainer app-left-top-sidebar,
   .desktopSidenavContentContainer app-quick-nav,
   .desktopSidenavContentContainer app-left-sidebar {
    padding-left: 5px;
    padding-top: 5px;
  }

   .desktopSidenavContentContainer app-right-top-sidebar,
   .desktopSidenavContentContainer app-notice-board,
   .desktopSidenavContentContainer app-right-sidebar {
    padding-right: 5px;
    padding-top: 5px;
  }

  .mobileSidenavContentContainer app-left-top-sidebar,
  .mobileSidenavContentContainer app-right-top-sidebar,
  .mobileSidenavContentContainer app-left-sidebar,
  .mobileSidenavContentContainer app-main,
  .mobileSidenavContentContainer app-quick-nav,
  .mobileSidenavContentContainer app-notice-board,
  .mobileSidenavContentContainer app-right-sidebar {
    padding: 5px;
  }

  app-left-top-sidebar,
  app-right-top-sidebar,
  app-left-sidebar,
  app-quick-nav,
  app-notice-board,
  app-right-sidebar {
    margin: 0;
    text-align: left;
  }

  app-main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1.25px;
  }

  .desktopSidenavContentContainer app-left-sidebar {
    order:1;
    flex: auto;
    float: left;
    width: 22.5%;
    overflow-wrap: anywhere;
  }

 .desktopSidenavContentContainer app-main {
    order:2;
    flex: auto;
    float: left;
    width: 55%;
    overflow-wrap: anywhere;
  }

.desktopSidenavContentContainer app-right-sidebar {
    order:3;
    flex: auto;
    float: right;
    width: 22.5%;
    overflow-wrap: anywhere;
  }

.mobileSidenavContentContainer
app-left-top-sidebar,
app-right-top-sidebar,
app-main,
app-quick-nav,
app-notice-board {
  flex: unset;
  width: 100%;
}