<div class="total-container">
  <app-top-toolbar></app-top-toolbar>
  <mat-sidenav-container class="main-sidenav-container" [style.marginTop.px]="0" autosize>
    <mat-sidenav-content>
      <div *ngIf="mobileQuery.matches" class="mobileSidenavContentContainer">
        <app-left-top-sidebar></app-left-top-sidebar>
        <app-right-top-sidebar></app-right-top-sidebar>
        <app-main></app-main>
        <app-quick-nav></app-quick-nav>
        <app-right-bottom-sidebar></app-right-bottom-sidebar>
      </div>
      <div *ngIf="!mobileQuery.matches" class="desktopSidenavContentContainer">
        <app-left-sidebar></app-left-sidebar>
        <app-main></app-main>
        <app-right-sidebar></app-right-sidebar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>  
</div>