* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1.25px;
}

.material-icons{
    font-family: 'Material Icons';
    vertical-align: top;
    color: #FFD700;
}

.contactInfoTitle {
    color: #FFD700;
    text-align: center;
    background-color: #383838;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.contactDetails {
    padding: 5px;
    border-radius: 5px;
    color: #D3D3D3;
    background-color: #383838;
    font-variant: lining-nums;
    margin-bottom: 5px;
}

