<div class="tAndCTitle">
    Terms & Conditions
</div>
<div class="title">
    Indemnity
</div>
<div class="description">
    The User unilaterally agree to indemnify and hold harmless, without objection, the QAWorkbook, its proprieter(s),
    employee(s), agent(s), or anyone else working/acting for QAWorkbook from and against any claims, actions and/or
    demands and/or liabilities and/or losses and/or damages whatsoever arising from or resulting from their use of
    QAWorkbook or their breach of the terms.
</div>

<div class="title">
    Liability
</div>
<div class="description">
    User agrees that neither QAWorkbook, nor its proprieter(s), employee(s), any associated partie(s),
    organization(s), agent(s), entitie(s), or anyone else working/acting for QAWorkbook shall be liable for any damages
    whatsoever resulting from the use or inability to use the QAWorkbook or QAWorkbook data/material.
</div>

<div class="title">
    Disclaimer
</div>
<div class="description">
    Under no circumstances shall QAWorkbook, or its proprieter(s), employee(s), any associated partie(s),
    organization(s), agent(s) or entitie(s) shall be liable for any damages whatsoever resulting from the use or
    inability to use the QAWorkbook or QAWorkbook data/material.
</div>