* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}

.tAndCTitle {
    color: #FFD700;
    text-align: center;
    background-color: #383838;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.title {
    color: #FFD700;
    background-color: #383838;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.description {
    background-color: #383838;
    box-shadow: 0px .5px black;
    color: #F5F5F5;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
