* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1.25px;
}

.tAndCTitle {
    color: #FFD700;
    text-align: center;
    background-color: #424242;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.title {
    color: #FFD700;
    background-color: #424242;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.description {
    background-color: #424242;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
