* {
    box-sizing: border-box; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    font-variant-numeric: lining-nums;
}

.outerContainer {
    display: flex;
    flex-flow:row wrap;
    flex-direction: column;
}

.pageTitleContainer {
    align-content: center;
    color: #FFD700;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #383838;
    box-shadow: 0px .5px black;
    border-radius: 5px;
    padding: 5px;
}

.qaWbContainer {
    display: flex;
    flex-flow:row wrap;
    flex-direction: column;
}

.qaWbListContainer a {
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #F5F5F5;
    background-color: #383838;
    margin-bottom: 5px;
}

.qaWbListContainer :hover {
    margin-left: 5px;
}

.qaWbNumber {
    color: #FFD700;
    margin-right: 5px;
}